<!-- templates/partials/footer.html -->
<footer class="footer">
    <div class="footer-inner">

        <div class="footer-logo">
            <a href="{{ url_for('index') }}">
                <img src="{{ url_for('static', filename='images/logo.jpg') }}" alt="ロゴ">
            </a>
        </div>

        <div class="footer-nav">
            <ul>
                <li><a href="{{ url_for('spots') }}">おすすめスポット</a></li>
                <li><a href="{{ url_for('foods') }}">ご当地グルメ</a></li>
                <li><a href="{{ url_for('course') }}">モデルデートコース</a></li>
                <li><a href="{{ url_for('access') }}">アクセス(空港・駅)</a></li>
                <li><a href="{{ url_for('contact') }}">お問い合わせ</a></li>
            </ul>
        </div>

        <div class="footer-sns">
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-youtube"></i></a>
        </div>

    </div>

    <div class="footer-copy">
        <p>&copy; 2026 Fukuoka Slow Trip All rights reserved GroupB</p>
    </div>
</footer>
