<!-- templates/partials/hamburger.html -->

<!-- ヘッダー -->
<header class="header">
    <!-- ロゴ -->
    <div class="logo">
        <a href="{{ url_for('index') }}">
            <img src="{{ url_for('static', filename='images/logo/logo-re.png') }}" alt="サイトロゴ">
        </a>
    </div>

    <div class="header-wrapper-right">
        <!-- 🔍 検索バー追加 -->
        <form action="https://www.google.com/search" method="get" class="header-search">
            <input type="text" name="q" placeholder="Google検索">
            <button type="submit">
                <i class="fa-solid fa-magnifying-glass"></i>
            </button>
        </form>
        <!-- 追加：天気 -->
        <div class="header-weather">
            <a href="https://weathernews.jp/onebox/tenki/fukuoka/" target="_blank" class="weather-header-link">
                <span class="weather-title">福岡の天気</span>
                <img id="weather-icon" alt="weather">
                <span id="weather-temp">--℃</span>
            </a>
        </div>

        <!-- ハンバーガー -->
        <div class="hamburger" id="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>

<!-- メニュー -->
<nav class="nav" id="nav">
    <ul>
        <!-- 検索バー　ハンバーガーメニュー分 -->
        <li class="nav-search">
            <form action="https://www.google.com/search" method="get">
                <input type="text" name="q" placeholder="Google検索">
                <button type="submit"><i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </form>
        </li>
        <!-- 検索バー　ハンバーガーメニュー分 終了-->
        <li><a href="{{ url_for('index') }}">TOP</a></li>
        <li><a href="{{ url_for('spots') }}">スポット</a></li>
        <li><a href="{{ url_for('foods') }}">グルメ</a></li>
        <li><a href="{{ url_for('course') }}">コース</a></li>
        <li><a href="{{ url_for('access') }}">アクセス</a></li>
        <li><a href="{{ url_for('contact') }}">問い合わせ</a></li>
    </ul>
</nav>