<!-- templates/foods.html -->
{% extends "base.html" %}

{% block page_header %}
{% include "partials/page_header.html" %}
{% endblock %}

{% set title = "福岡市のご当地グルメ" %}

{% block content %}

<!-- タイトル -->
<section class="main-img">
    <h3>福岡市のご当地グルメ</h3>
</section>

<!-- メイン -->
<section class="add-bg-history">
    <div class="container-fluid">
        <div class="txt-center">
            <h3>福岡グルメガイド<span>Fukuoka Gourmet Guide</span></h3>
        </div>

        <div class="mgb50">
            <img src="images/food_main.jpg" width="100%">
            <p class="fs80 txt-right">福岡を代表する絶品グルメ</p>
        </div>
    </div>

    <div class="container">

        <!-- 博多ラーメン -->
        <div class="row">
            <div class="col-md-7">
                <h4>博多ラーメン</h4>
                <p>
                    濃厚な豚骨スープと細麺が特徴の福岡名物。
                    替え玉文化もあり、何度でも楽しめる人気グルメです。
                </p>
            </div>
            <div class="col-md-5">
                <img src="images/ramen.jpg" width="100%">
            </div>
        </div>

        <!-- もつ鍋 -->
        <div class="row mgt50">
            <div class="col-md-5">
                <img src="images/motsunabe.jpg" width="100%">
            </div>
            <div class="col-md-7">
                <h4>もつ鍋</h4>
                <p>
                    新鮮な牛もつと野菜をたっぷり使った鍋料理。
                    醤油や味噌ベースのスープで、寒い季節にぴったりです。
                </p>
            </div>
        </div>

        <!-- 明太子 -->
        <div class="row mgt50">
            <div class="col-md-7">
                <h4>明太子</h4>
                <p>
                    ピリ辛で旨味たっぷりの明太子は福岡のお土産の定番。
                    ご飯のお供としても人気があります。
                </p>
            </div>
            <div class="col-md-5">
                <img src="images/mentaiko.jpg" width="100%">
            </div>
        </div>

    </div>
</section>

<!-- ギャラリー -->
<section>
    <div class="container">
        <div class="row mgt50">
            <div class="col-md-3"><img src="images/food1.jpg" width="100%"></div>
            <div class="col-md-3"><img src="images/food2.jpg" width="100%"></div>
            <div class="col-md-3"><img src="images/food3.jpg" width="100%"></div>
            <div class="col-md-3"><img src="images/food4.jpg" width="100%"></div>
        </div>
    </div>
</section>

<!-- JS -->
<script src="js/jquery-1.11.3.min.js"></script>
<script src="js/bootstrap.min.js"></script>
{% endblock %}