/* 部品のCSS ハンバーガーメニュー, ヘッダー, ナビゲーション, パンくず, フッター, 天気予報 */

/* ===================
    partials/hamburger.html 開始
=================== */
/* ハンバーガーメニュー */
.hamburger {
    width: 30px;
    height: 25px;
    position: fixed;
    top: 20px;
    right: 20px;
    cursor: pointer;
    z-index: 1000;
}

.hamburger span {
    display: block;
    height: 3px;
    background: #ccc;
    margin: 5px 0;
    transition: 0.3s;
    z-index: 1000;
}

.logo {
    display: flex;
}

.logo a {
    width: fit-content;
    height: fit-content;
    margin: 0;
    padding: 0;
}

/* ロゴ　*/
.logo img {
    height: 60px;
    margin: auto;
}

.header a {
    display: inline-block;
    height: auto;
    background-color: transparent;
    color: #fff;
    /* padding: 8px 15px; */
    border-radius: 5px;
    text-decoration: none;
}

/* クリック後（×に変形） */
.hamburger.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    z-index: 1000;
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
    z-index: 1000;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    z-index: 1000;
}

/* ナビメニュー */
.nav {
    position: fixed;
    top: 0;
    right: -250px;
    /* 初期は隠す */
    width: 250px;
    height: 100vh;
    background: #0ABAB5;
    color: #fff;
    transition: 0.3s;
    padding-top: 60px;
    z-index: 501;
}

/* 表示状態 */
.nav.active {
    right: 0;
}

.nav a:hover {
    color: #fff;
    text-decoration: underline;
    background: transparent;
}

.nav ul {
    list-style: none;
    padding: 0;
}

.nav li {
    margin: 5px 20px;
}

.nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* ===================
    partials/hamburger.html 終了
=================== */

/* ===================
    partials/page_header.html 開始
=================== */
/* 共通ページヘッダー ハンバーガーメニューのある白いとこ */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: var(--color-bg);
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}

/* 各ページタイトル用ヘッダー 共通ページヘッダーの下に表示される */
.page-header {
    margin-top: 60px;
    /* 共通ヘッダー分ずらす */
    background: var(--color-main);
    width: 100%;
    text-align: center;
    padding: 50px 0;
}

.page-title {
    color: #fff;
    font-size: 20px;
    letter-spacing: 2px;
}

/* モデルコースページにのみ現状は言っているサブタイトル */
.intro-text {
    margin-top: 15px;
    font-size: 0.95rem;
    font-weight: 300;
    color: var(--color-bg);
}

/* 各ページヘッダー終わり */


/* ===================
partials/footer.html 開始
=================== */
.footer {
    background: #0ABAB5;
    color: #fff;
    padding: 40px 20px 20px;
    border-top: 3px solid #089e9a;
    /* footer仕切り線を少し濃い色で */
    margin-top: 12px;
}

.footer-inner {
    max-width: 990px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    text-align: center;
}

/* ロゴ */
.footer-logo img {
    width: 150px;
}

.footer-nav {
    margin: 0;
    padding: 0;
}

/* ナビ */
.footer-nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: fit-content;
}

.footer-nav ul li {
    margin: 0;
    padding: 0;
}

.footer-logo a {
    margin: 0;
    padding: 0;
}

/* style.cssをリセット */
.footer-nav a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    display: inline-block;
    width: auto;
    margin-top: 0;
    background: none;
    padding: 0;
}

.footer-nav a:hover {
    opacity: 0.7;
}

.footer-nav ul li:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding-right: 15px;
    margin-right: 15px;
}

/* SNS */
.footer-sns a {
    color: #fff;
    font-size: 20px;
    gap: 30px;
}

.footer-sns a:hover {
    opacity: 0.7;
}

/* コピーライト */
.footer-copy {
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
    font-size: 12px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

/* ===== スマホ対応 ===== */
@media screen and (max-width: 768px) {
    .footer-inner {
        margin: auto;
        flex-direction: column;
        gap: 20px;
    }

    .footer-nav ul {
        flex-direction: column;
        gap: 10px;
    }

    /* 各おすすめスポットとかご当地グルメとかの間を開ける */
    .footer-nav li a {
        margin: 10px;
    }

    .footer-nav ul li:not(:last-child) {
        border-right: none;
        margin-right: 0;
        padding-right: 0;
    }

    .footer-sns {
        display: flex;
    }

    .footer-sns a {
        margin: 0 10px;
    }
}

/* ===================
    partials/footer.html 終了
=================== */

/* ===================
    partials/map_course.html
=================== */
#map {
    width: 100%;
    height: 400px;
}


/* ===================
    天気用CSS in partials/humberger.html 開始
=================== */
/* 天気 */
.header-weather {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 90px;
    /* ハンバーガーとの距離 */
    top: 50%;
    transform: translateY(-50%);
    gap: 4px;
    line-height: 1.2;
    margin-top: 5px;
    margin-right: 15px;
}

/* style.cssをリセット これがないとハンバーガー押した時にかぶる */
.header-weather a {
    width: fit-content;
    background-color: transparent;
}

.header-weather a:hover {
    background-color: transparent;
    opacity: 0.8;
}

.weather-header-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
    margin: 0;
    padding: 0;
    gap: 0;
}

/* タイトル */
.weather-title {
    display: block;
    font-size: 12px;
    color: #666;
    margin-bottom: -2px;
}

.header-weather img {
    width: 32px;
    /* 好きに調整：18〜24くらいがちょうどいい */
    height: 32px;
    display: inline-block;
    /* 余白の原因を潰す */
    vertical-align: middle;
}

/* 温度 */
#weather-temp {
    display: inline-block;
    vertical-align: middle;
    font-size: 12px;
    font-weight: bold;
    margin-left: 2px;
    color: #666;
}

.weather-box {
    display: flex;
    align-items: center;
    gap: 5px;
    background: none;
    padding: 0;
    box-shadow: none;
}

.weather-inline {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    font-size: 0.8rem;
    text-decoration: none;
    color: inherit;

    background: transparent !important;
    padding: 0 !important;
    margin: 0;
    border: none !important;
    box-shadow: none !important;
}

/* アイコン */
.weather-inline img {
    width: 18px;
    height: 18px;
}

/* 温度 */
.weather-inline span {
    line-height: 1;
}

/* 「現地の天気」だけボタン風 */
.weather-btn {
    padding: 2px 6px;
    background: var(--color-main);
    color: white;
    border-radius: 6px;
    font-size: 0.7rem;
    white-space: nowrap;
}

/* ===================
    天気用CSS in partials/humberger.html 終了
=================== */

/* ===================
    パンくず in macros/breadcrumb.html 開始
=================== */

/* パンくず */
.pankz {
    list-style: none;
    padding: 10px 0;
    margin-bottom: 30px;
    font-size: 14px;
    margin-left: 24px;
}

.pankz li {
    display: inline;
}

.pankz li::after {
    content: " > ";
}

.pankz li:last-child::after {
    content: "";
}

.pankz a {
    background: none;
    padding: 0;
    border: none;
    color: blue;
    text-decoration: underline;
    display: inline;
    border-radius: 0;
}

/* ===================
    パンくず in macros/breadcrumb.html 終了
=================== */