@charset "UTF-8";

body.clear { background: #fff7d6; }
body.rain { background: #d6e6ff; }

nav {
  position: fixed;
  top: 0;
  width: 100%;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.weather-box a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.weather-box p {
    margin: 0;
    line-height: 1;
}

