<!-- templates/contact.html -->

{% extends "contact/base.html" %}

{% set title = "お問い合わせフォーム" %}

<!-- {% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/contact.css') }}">
{% endblock %} -->

{% from "_formhelpers.html" import render_field %}

{% block contact_content %}

<article>
    <div class="box01">


        <h3>お電話でのお問い合わせ</h3>
        <p>
            <span>092-xxx-xxxx</span><br>
            平日9:00〜17:00（土日祝除く）に対応いたします。
        </p>

        <!-- <h3>メールでのお問い合わせ</h3>
        <p>
            お問い合わせ・ご意見はこちらからお願いいたします。
        </p> -->

        <h3>ご注意事項</h3>
        <p style="width: 90%;  margin: 25px auto 40px;  text-align: justify;">
            ◇ お問い合わせには、弊社受付時間の平日午前9時から午後5時までの間（土日祝日、盆、年末年始など休日を除く）に順次対応させていただきます。 <br>
            ◇ 土日祝日、盆、年末年始をはさむ場合、お問い合わせの内容によっては、お返事までに日数がかかる場合がございます。<br>
            ◇ お問い合わせ内容によっては、電話や手紙で回答させていただく場合や、またお寄せいただいたすべてにお返事を差し上げられない場合がございます。<br>
            ◇ お返事は、お客様個人宛にお送りするものです。その一部または全部を転載、二次利用することはご遠慮ください。<br>
            ◇ お客様からいただきました情報につきましては、当協会からの回答およびサービス向上にのみご利用させていただきます。<br>
            　 詳しくは<a href="{{ url_for('privacy') }}">「プライバシーポリシー」</a>をご覧ください。<br>
            ◇ 営業を目的としたお問い合わせにはお返事いたしかねる場合がございます。
        </p>
    </div>
</article>

<!-- ↓↓↓ ここからフォーム ↓↓↓ -->
<div class="formtitle">
    <h3>資料請求・お問い合わせフォーム</h3>
</div>
<form method="POST" novalidate>
    {{ form.hidden_tag() }}
    <div class="catalog-box">
        {{ render_field(form.catalog) }}
    </div>
    <div class="form-group error-field">
    {{ render_field(form.title) }}
    {{ render_field(form.note) }}
    {{ render_field(form.name) }}
    {{ render_field(form.kana) }}
    </div>
    <div class="form-group error-field">
        <label>郵便番号
            <span class="required">必須</span>
        </label>
        {{ form.zipcode(
        onKeyUp="AjaxZip3.zip2addr(this,'','area','address');"
        ) }}
        {% for error in form.zipcode.errors %}
            <p class="error error-msg">{{ error }}</p>
        {% endfor %}
    </div>
    <div class="form-group error-field">
        <label>
            住所
            <span class="required">必須</span>
        </label>
        {{ form.area() }}<br>
        {{ form.address(class_="address-box") }}
        {% for error in form.address.errors %}
            <p class="error error-msg">{{ error }}</p>
        {% endfor %}
    </div>
    {{ render_field(form.email) }}
    {{ render_field(form.tel) }}
    <div class="agree-box">
        <label>
            {{ form.agree(id="agree-check") }}
            {{ form.agree.label.text }}
        </label>
    </div>
    <br>
    <div class="submit">{{ form.submit(disabled=True, id="submit-btn") }}</div>
    <br>
</form>
{% endblock %}