<!-- templates/contact/privacy.html -->
{% extends "base.html" %}

{% block page_header %}
{% include "partials/page_header.html" %}
{% endblock %}

{% set title = "プライバシーポリシー" %}

{% block content %}
		<ul class="pankz">
			<li><a href="https://www.hakutake.co.jp/"><span>HOME</span></a></li>
			<li><span>&gt;</span>プライバシーポリシー</li>
		</ul><!--.pankz end-->
	
		<article>
			<div class="box02">
				<h3>個人情報をご提供いただく場合とは</h3>
				<p>当サイトにおいて、お客様がお問い合わせフォームなどの機能をご利用される際に、個人情報をお伺いすることがあります。</p>
			
				<h3>個人情報の収集及び利用について</h3>
				<p>当社は、当サイトの運営に必要となる個人情報を、以下の場合に利用するものとします。<br>(1) 当社から利用者に対して情報を送付する場合（秘密保持義務を負う業務提携先等からの送付を含みます）<br>(2) 当社から利用者に対して個別のサービスを提供する場合<br>(3) 法令の規定により必要と認められた場合<br>(4) 利用者の同意を得た場合</p>		
				<p>個人情報をご提供いただく際に、明示した目的の範囲を超えて個人情報を利用する必要が生じた場合には、事前にお客様にその目的をご連絡します。新たな目的にご同意頂けない場合には、お客様ご自身の判断により拒否することができます。<br>また、個人情報の提供を希望されない場合、お客様はご自身の判断により、個人情報を提供しないことが可能です。ただし、サービスの提供に個人情報が不可欠な場合は、当該サービスの提供ができない場合がありますことをご了承ください。<br>当社は、お客様により良いサービスを提供するため、個人情報を利用したサービスを、当社が信頼できると判断し、機密保持契約を締結した会社(以下、「業務委託先」といいます。)に委託することがあります。お客様から頂いたお問い合わせについて、適切と判断される場合には、業務委託先から回答させていただくことがあります。</p>	
				
				<h3>個人情報の管理について</h3>
				<p>当社は、個人情報の取り扱いに際し、管理責任者を置き、適切かつ厳重な管理を行います。外部への流出防止だけでなく、外部からの不正なアクセス等の危険に対して、適切かつ合理的なレベルの安全対策を実施し、個人情報の保護に努めます。<br>個人情報に係るデータベース等へのアクセスについては、アクセス権を有するものを限定し、社内においても不正な利用がなされないように厳重に管理します。業務委託先に対しても、個人情報の流出や不正アクセス等が起こらないよう、適切な管理を実施させます。</p>
				
				<h3>個人情報の開示について</h3>
				<p>当社は、個人情報を、お客様の同意を得ることなく、業務委託先以外の第三者に開示することはありません。ただし、法令により開示を求められた場合、または、裁判所、警察等の公的機関から開示を求められた場合は、お客様の同意なく個人情報を開示することがあります。</p>
				
				<h3>個人情報に関するお問合せについて</h3>
				<p>お客様がご自身の個人情報について確認されたい場合には、第三者への個人情報の漏洩を防止するため、お客様ご自身であることが確認できた場合に限り、当社で保管させて頂いております個人情報をお客様にお知らせします。<br>個人情報に誤りや変更があった場合には、お客様からの要請に基づき、第三者による個人情報の改竄を防止するため、お客様ご自身であることが当社にて確認できた場合に限り、不正確な情報または古い情報を修正または削除させていただきます。</p>
				
				<h3>その他</h3>
				<p>本ポリシーは、当サイトにおける個人情報について述べたものです。<br>当社では、個人情報の保護を強化するために、または、日本国の従うべき法令の変更に伴い、本ポリシーを改定することがあります。当社にリンクされている他のホームページにおける個人情報の安全確保については、当社が責任を負うことはできません。</p>
			
				<h3>お問い合わせ</h3>
				<p>本ポリシー、個人情報に関するお問合せは、<a class="animsition-link" href="{{ url_for('index') }}">お問い合わせページ</a>にてご連絡願います。</p>
			</div>
		</article><!--article end--> 

		<ul class="pankz">
			<li><a href="#"><span>HOME</span></a></li>
			<li><span>&gt;</span>プライバシーポリシー</li>
		</ul><!--.pankz end-->
{% endblock %}