<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/base/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/pages/contact.css') }}">
    <title>WTForm</title>
</head>
<body>
    {% block title %} タイトル {% endblock %}
    <hr />
    {% block content %} 内容 {% endblock %}   
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
    <script src="https://ajaxzip3.github.io/ajaxzip3.js"></script>
</body>
</html>