<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>Weather Test</title>

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style2.css') }}">
</head>

<body>

<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>

        {% for r in results %}
        <li class="weather-box">
            <a href="{{ r.url }}"
               target="_blank"
               rel="noopener noreferrer">
                <p>{{ r.name }}</p>
                <img
                    src="https://openweathermap.org/img/wn/{{ r.icon }}@2x.png"
                    alt="{{ r.name }}の天気"
                    width="50"
                >

                <p>{{ r.temp }}℃</p>
                <p>{{ r.weather }}</p>

            </a>
        </li>
        {% endfor %}
    </ul>
</nav>

</body>
</html>